body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.h-user {
  color: var(--color-accent);
  font-size: 2.2rem;
  font-weight: 700;
}
/* .logo{
  margin-left:20px;
  max-width: 63px;
} */
nav {
  height: 68px;
  background-color: var(--color-primary-dark);
  align-items: center;
  justify-content: space-between;
}
nav .main-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  opacity: 0.96;
  transition: all 0.12s;
}

.nav-item.logo {
  /* margin-right: auto; */
  font-size: 2.2rem;
  font-weight: 700;
}

.logo span {
  color: var(--color-accent);
}

.nav {
  height: 68px;
}
.nav-item {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-light);
  transition: all 0.12s;
}
.nav-link a,
.nav-link:link,
.nav-link:visited {
  color: var(--color-light);
  transition: all 0.12s;
}

.nav-link:hover {
  border-radius: 8%;
  border-bottom: 0.22rem solid var(--color-accent);
  transition: all 0.12s;
  transform: scale(1.05);
}

.search-container {
  display: flex;
  height: 100px;
  background-color: var(--color-primary-light);
  align-items: center;
  justify-content: center;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 500px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.search-bar input[type="text"] {
  flex: 1;
  height: 100%;
  padding: 0 10px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-size: 1.1rem;
  font-weight: 700;
  outline: none;
}
.search-bar button[type="submit"] {
  background-color: var(--color-primary-dark);
  color: #ffffff;
  border: none;

  width: 40px;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button[type="submit"]:hover {
  background-color: #0069d9;
}

main {
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-light);
  max-height: auto;
  /* min-height: calc(100vh - 168px);
  display: flex;  
  flex:1; */
}
.main-container1,
.main-container2 {
  margin: 0 auto;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
/* .main-container2 {
  margin: 0 auto;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}*/
.left-section,
.right-section {
  border: none;
  border-top: 0.4rem solid var(--color-accent);
  margin-right: 40px;
  margin-left: 40px;
  background-color: white;
  max-height: 400px;
  align-items: center;
  justify-content: center;
}

section {
  box-shadow: 9px 8px 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  gap: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  border: 3px solid var(--color-primary-dark);
  max-width: 350px;
  height: 200px;
  margin: 20px;
  color: var(--color-primary-dark);
  font-weight: 700;
  font-size: x-large;
  font-style: italic;
  /* border-radius: 80%; */
  /* align-items: center;   */
  /* justify-content: center; */
  /* padding-bottom: 3rem; */
}

/* section:hover{
  background-color: var(--color-primary-light);
  transform: scale(1.1);  
}*/

.credit-link,
.loan-link,
.Announce-link,
.issue-link {
  margin-top: 10px;
  color: var(--color-light);
  transition: all 0.12s;
  display: flex;
  /* gap: 25px; */
  justify-content: center;
  align-items: center;
  min-height: 30px;
  transition: all 0.09s;
}

.link {
  color: var(--color-accent);
}

.search-container {
  height: 100px;
}

main {
  min-height: calc(100vh - 168px);
}
h1,
h2,
h3,
h4 {
  margin-top: 10px;
  font-weight: 600;
}

.additional-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-accent);
  color: #fff;
  line-height: 40px;
  text-align: center;
  border: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  margin-top: 0px;
}

/* .additional-button:hover {
  background-color: var(--color-primary-dark);
} */
/* a:hover{
  color: var(--color-accent);
} */

/* .balance-text {
  margin-bottom: auto;
}
.balance-num {
  padding: 10px;
} */

/* .transactions-container {
  min-width: 280px;
  min-height: 280px;
  border: 2px solid var(--color-primary-dark);
} */

/* h1,h2,h3,h4{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
} */

.transactions-container {
  min-width: 280px;
  min-height: auto;
  max-height: 248px;
  padding: 1.4rem;
  padding-top: 0.4rem;
  background-color: var(--color-light);
  border-top: 0.4rem solid var(--color-accent);
  border-radius: 6px;
  box-shadow: 0px 8px 12px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  overflow: auto;
}

.transaction-items-fields {
  min-height: 1.8rem;
  background-color: var(--color-light);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: -0.4rem;
  font-weight: 500;
}

.transaction-items-fields li,
.transaction-items-content li {
  flex: 1;
  text-align: center;
  font-size: 0.9rem;
}

.transaction-item {
  min-height: 2rem;
  background-color: #dee5ee;
  background-color: #d8e6ec89;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  display: flex;
}

.transaction-item:hover {
  background-color: #d8e6ecf0;
}

.transaction-items-content {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}
